
@function getpercentage($ncol, $n) {
  @return percentage(floor(100 / $ncol * $n * 100) / 100 / 100);
}

@function getvh($ncol, $n) {
  @return #{(floor(100 / $ncol * $n * 100) / 100)}vh;
}

@mixin col () {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  float: none;
  margin-right: -.25rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
