
$btn-action: (

    add: "\002B",
    less: "\2212",
    close: "\d7",
    right: "\25B8",
    left: "\25C2",
    refresh: "\21bb",
    nav: "\2630",
    v-elipsis: "\22ee",
    elipsis: "\22ef",
    pencil: "\270E",
    mail: "\2709",
    position: "\2316",
    clock: "\23f0"

)
