
@import "../color/$color";

$level-color: (
    emergency: $color_red_orange,
    alert: $color_gray2,
    critical: $color_flame,
    error: $color_moon_yellow,
    warning: $color_golden_yellow,
    notice: $color_mantis,
    info: $color_spiro,
    debug: $color_dodger
)
