@mixin btn-raised () {

    &.btn-raised,
    &.btn-basic,
    &.btn-link {
        box-shadow: map-get($n-dp, 2);
        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($n-dp, 2);
        }
        &:hover {
            box-shadow: map-get($n-dp, 4);
        }
        &:active,
        &.active {
            box-shadow: map-get($n-dp, 8);
        }
    }
    &.btn-raised {
        color: map-get($color-material, "grey-0");
        &:hover {
            background: map-get($color-material, "blue-600");
        }
        &:active,
        &.active {
            background: map-get($color-material, "blue-700");
        }
    }
    &.btn-raised,
    &.btn-raised.disabled,
    &.btn-raised.disabled:active,
    &.btn-raised.disabled:hover {
        background: map-get($color-material, "blue-500");
    }
    &.btn-basic,
    &.btn-basic:hover,
    &.btn-basic.disabled,
    &.btn-basic.disabled:active,
    &.btn-basic.disabled:hover,
    &.btn-link,
    &.btn-link:hover,
    &.btn-link.disabled,
    &.btn-link.disabled:active,
    &.btn-link.disabled:hover {
        background:  map-get($color-material, "grey-0");
    }
    &.btn-basic {
        color: map-get($color-material, "grey-900");
    }
    @each $btn, $color in $btn-color {
        &.btn-#{$btn} {
            background:  map-get($color-material,  #{$color}-500);
            box-shadow: map-get($n-dp, 2);
            color: map-get($color-material, "grey-0");
            &.disabled,
            &.disabled:active,
            &.disabled:hover {
                box-shadow: map-get($n-dp, 2);
                background:  map-get($color-material,  #{$color}-500);
            }
            &:hover {
                box-shadow: map-get($n-dp, 4);
                background:  map-get($color-material,  #{$color}-600) ;
            }
            &:active,
            &.active {
                box-shadow: map-get($n-dp, 8);
                background:  map-get($color-material,  #{$color}-700) ;
            }
        }
    }

}