@mixin btn-flat () {

    &.btn-flat {
        box-shadow: none !important;
        box-shadow: 0px 0px 0px 0px transparent;
        &.btn-basic:hover,
        &.btn-link:hover {
            background-color:  map-get($color-material, "grey-200");            
        }
        &.btn-basic.disabled,
        &.btn-basic.disabled:active,
        &.btn-basic.disabled:hover,
        &.btn-basic:active,
        &.btn-basic.targeted,
        &.btn-link.disabled,
        &.btn-link.disabled:active,
        &.btn-link.disabled:hover,
        &.btn-link:active,
        &.btn-link.targeted {
            background-color:  map-get($color-material, "grey-300");            
        }
        &.btn-basic {
            color: map-get($color-material, "grey-900");
            background-color:  transparent; 
        }
        &.btn-link {
            background-color:  transparent;
            color: map-get($color-material, "grey-0");
            &.disabled,
            &.disabled:active,
            &.disabled:hover {
                color:  map-get($color-material, "blue-500");
            }
        }
        @each $btn, $color in $btn-color {
            &.btn-#{$btn},
            &.btn-#{$btn}.disabled,
            &.btn-#{$btn}.disabled:active,
            &.btn-#{$btn}.disabled:hover {
                color: map-get($color-material,  #{$color}-500); 
                background-color: transparent;
            }
            &.btn-#{$btn} {
                &:hover {
                    color: map-get($color-material,  #{$color}-600);
                    background-color: map-get($color-material, #{$color}-50);
                }
                &.disabled,
                &.disabled:active,
                &.disabled:hover,
                &:active,
                &.targeted {
                    background-color: map-get($color-material, #{$color}-100);
                }
                &:active,
                &.targeted {
                    color: map-get($color-material,  #{$color}-700);
                }
            }
        }
    }

}