
@import "../color/$color-material";
@import "../dp/$n-dp";
@import "$btn-action";
@import "../card/card";

@mixin btn-floating () {

    @include cardTransition();
    &.btn-floating {
        background: $color_dodger;
        border-radius: 100%;
        box-shadow: map-get($n-dp, 6);
        color: $color_white;
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2em;
        max-width: 2em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: 3em;

        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($n-dp, 6);
        }
        &:hover {
            box-shadow: map-get($n-dp, 8);
        }
        &:active,
        &.active {
            box-shadow: map-get($n-dp, 12);
        }

    }

    @each $btn, $action in $btn-action {
        &.btn-#{$btn}:before {
            @extend .btn-floating;
            @include cardTransition();
            content: $action;
        }
    }

}
