
@import "../color/$color-material";
@import "../dp/$n-dp";
@import "$btn-color";

@mixin btn-raised () {

    &.btn-raised {
        background:  map-get($color-material, "blue-500");
        box-shadow: map-get($n-dp, 2);
        color: map-get($color-material, "grey-0");
        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($n-dp, 2);
            background:  map-get($color-material, "blue-500");
        }
        &:hover {
            box-shadow: map-get($n-dp, 4);
        }
        &:active,
        &.active {
            box-shadow: map-get($n-dp, 8);
            background:  map-get($color-material, "blue-700");
        }
    }

    &.btn-primary {
        background:  map-get($color-material, "grey-0");
        box-shadow: map-get($n-dp, 2);
        color: map-get($color-material, "grey-900");
        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($n-dp, 2);
            background:  map-get($color-material, "grey-0");
        }
        &:hover {
            box-shadow: map-get($n-dp, 4);
        }
        &:active,
        &.active {
            box-shadow: map-get($n-dp, 8);
            background:  map-get($color-material, "grey-0");
        }
    }

    &.btn-link {
        background:  map-get($color-material, "grey-0");
        box-shadow: map-get($n-dp, 2);
        color: map-get($color-material, "blue-500");
        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($n-dp, 2);
            background:  map-get($color-material, "grey-0");
        }
        &:hover {
            box-shadow: map-get($n-dp, 4);
        }
        &:active,
        &.active {
            box-shadow: map-get($n-dp, 8);
            background:  map-get($color-material, "grey-0");
        }
    }

    @each $btn, $color in $btn-color {
        $foo: #{$color}-500;
        &.btn-#{$btn} {
            background:  map-get($color-material, #{$foo});
            box-shadow: map-get($n-dp, 2);
            color: map-get($color-material, "grey-0");
            &.disabled,
            &.disabled:active,
            &.disabled:hover {
                box-shadow: map-get($n-dp, 2);
                background:  map-get($color-material,  #{$color}"-500");
            }
            &:hover {
                box-shadow: map-get($n-dp, 4);
            }
            &:active,
            &.active {
                box-shadow: map-get($n-dp, 8);
                background:  map-get($color-material,  #{$color}"-700");
            }
        }
    }

}
