
@import "../color/$color-material";
@import "$btn-color";

@mixin btn-flat () {

    &.btn-flat {

        box-shadow: 0px 0px 0px 0px transparent !important;
        background:  transparent !important;

        &.btn-basic {
            color: map-get($color-material, "grey-900");
            &.disabled,
            &.disabled:active,
            &.disabled:hover {
                background:  map-get($color-material, "grey-300") !important;
                
            }
            &:hover {
                background:  map-get($color-material, "grey-200") !important;
            }
            &:active,
            &.active {
                background:  map-get($color-material, "grey-300") !important;
            }
        }

        &.btn-link {
            background:  transparent !important;
            color:  map-get($color-material, "grey-0");
            &.disabled,
            &.disabled:active,
            &.disabled:hover {
                color:  map-get($color-material, "blue-500");
                background:  map-get($color-material, "grey-300") !important;
            }
            &:hover {
                background:  map-get($color-material, "grey-200") !important;
            }
            &:active,
            &.active {
                background:  map-get($color-material, "grey-300") !important;
            }
        }

        @each $btn, $color in $btn-color {
            &.btn-#{$btn} {
                color:  map-get($color-material,  #{$color}-500) !important;
                &.disabled,
                &.disabled:active,
                &.disabled:hover {
                    color:  map-get($color-material,  #{$color}-500) !important;
                    background:  map-get($color-material, #{$color}-100) !important;
                }
                &:hover {
                    color:  map-get($color-material,  #{$color}-600) !important;
                    background:  map-get($color-material, #{$color}-50) !important;
                }
                &:active,
                &.active {
                    color:  map-get($color-material,  #{$color}-700) !important;
                    background:  map-get($color-material, #{$color}-100) !important;
                }
            }
        }
    }

}
