
@import "level-color";

@mixin btn () {
    background: #ffffff;
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: .9em;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 1em;
    padding: .5em 1em;
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);
    @each $level, $color in $level-color {
        &.btn-#{$level} {
            color: $color;
        }
    }
}