
@import "../card/card";
@import "../dp/$n-dp";
@import "../color/$color-material";
@import "$btn-color";
@import "btn-raised";
@import "btn-floating";

@mixin btn () {

    @include btn-raised();
    @include btn-floating();
    @include cardTransition();

    border-radius: .05em;
    color: map-get($color-material, "blue-500");
    cursor: pointer;
    display: inline-block;
    font-size: 1.05rem;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 1em;
    padding: .4em 1.2em .6em;
    margin: .5em;
    letter-spacing: .05em;

    &:hover {
        filter: grayscale(12%);
    }
    &:active,
    &.active,
    &.disabled {
        filter: grayscale(0%);
    }
    &.disabled {
        cursor: default;
        opacity: .5;
    }

}
