@import "$btn-color";
@import "btn-flat";
@import "btn-raised";
@import "btn-floating";

@mixin btn () {

    @include btn-flat();
    @include btn-raised();
    @include btn-floating();
    @include cardTransition();

    &.btn-lg {
        font-size: 1.3rem;
    }
    min-width: 4em;
    border: none;
    border-radius: .05em;
    color: map-get($color-material, "blue-500");
    cursor: pointer;
    display: inline-block;
    font-size: 1.05rem;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 1em;
    padding: .4em 1.2em .6em;
    margin: .5em;
    text-align: center;
    letter-spacing: .05em;
    &.disabled,
    &.disabled:active,
    &.disabled:hover {
        cursor: default;
        opacity: .5;
        cursor: default;
        opacity: .5;
    }
    &:hover {
        background: map-get($color-material, "grey-200") ;
    }
    &.disabled,
    &.disabled:active,
    &.disabled:hover,
    &:active,
    &.active {
        background: map-get($color-material, "grey-300") ;
    }

}