
@import "../color/font";

$level-color: (
    emergency: $color_font_emergency,
    alert: $color_font_alert,
    critical: $color_font_critical,
    error: $color_font_error,
    warning: $color_font_warning,
    notice: $color_font_notice,
    info: $color_font_info,
    debug: $color_font_debug
)