@import "./../gride/$breakpoints.scss";

@mixin space($breakpoint: "") {
  .noshrink#{$breakpoint} {
    flex-shrink: 1;
  }
  .shrink#{$breakpoint} {
    flex-shrink: 0;
  }
  .nowrap#{$breakpoint} {
    flex-wrap: nowrap;
  }
  .wrap#{$breakpoint} {
    flex-wrap: wrap;
  }
  .nogrow#{$breakpoint} {
    flex-grow: 0;
  }
  .grow#{$breakpoint} {
    flex-grow: 1;
  }
  @for $n from 0 through 12 {
    .offset#{$breakpoint}-#{$n} {
      margin-left: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-r#{$breakpoint}-#{$n} {
      margin-right: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-t#{$breakpoint}-#{$n} {
      margin-top: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-b#{$breakpoint}-#{$n} {
      margin-bottom: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .ml#{$breakpoint}-#{$n} {
      margin-left: #{$n/4}rem;
    }
    .mt#{$breakpoint}-#{$n} {
      margin-top: #{$n/4}rem;
    }
    .mr#{$breakpoint}-#{$n} {
      margin-right: #{$n/4}rem;
    }
    .mb#{$breakpoint}-#{$n} {
      margin-bottom: #{$n/4}rem;
    }
    .m#{$breakpoint}-#{$n} {
      margin: #{$n/4}rem;
    }
    .pl#{$breakpoint}-#{$n} {
      padding-left: #{$n/4}rem;
    }
    .pt#{$breakpoint}-#{$n} {
      padding-top: #{$n/4}rem;
    }
    .pr#{$breakpoint}-#{$n} {
      padding-right: #{$n/4}rem;
    }
    .pb#{$breakpoint}-#{$n} {
      padding-bottom: #{$n/4}rem;
    }
    .p#{$breakpoint}-#{$n} {
      padding: #{$n/4}rem;
    }
  }
  .box#{$breakpoint} {
    box-sizing: border-box;
  }
}

@include space();

@each $key, $value in $breakpoints {
  @media all and (min-width: #{$value}px) {
    @include space(-#{$key});
  }
}
