@import "./../gride/$breakpoints.scss";

@mixin space($breakpoint: "") {
  @for $n from 0 through 12 {
    .offset#{$breakpoint}-#{$n} {
      margin-left: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-r#{$breakpoint}-#{$n} {
      margin-right: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-t#{$breakpoint}-#{$n} {
      margin-top: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .offset-b#{$breakpoint}-#{$n} {
      margin-bottom: percentage(floor(100 / 12 * $n * 100) / 100 / 100);
    }
    .ml#{$breakpoint}-#{$n} {
      margin-left: #{$n/8}em;
    }
    .mt#{$breakpoint}-#{$n} {
      margin-top: #{$n/8}em;
    }
    .mr#{$breakpoint}-#{$n} {
      margin-right: #{$n/8}em;
    }
    .mb#{$breakpoint}-#{$n} {
      margin-bottom: #{$n/8}em;
    }
    .m#{$breakpoint}-#{$n} {
      margin: #{$n/8}em;
    }
    .pl#{$breakpoint}-#{$n} {
      padding-left: #{$n/8}em;
    }
    .pt#{$breakpoint}-#{$n} {
      padding-top: #{$n/8}em;
    }
    .pr#{$breakpoint}-#{$n} {
      padding-right: #{$n/8}em;
    }
    .pb#{$breakpoint}-#{$n} {
      padding-bottom: #{$n/8}em;
    }
    .p#{$breakpoint}-#{$n} {
      padding: #{$n/8}em;
    }
  }
  .box#{$breakpoint} {
    box-sizing: border-box;
  }
}

@include space();

@each $key, $value in $breakpoints {
  @media all and (min-width: #{$value}px) {
    @include space(-#{$key});
  }
}
