$font_roboto: Roboto, Helvetica, Arial, sans-serif;
$font_segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font_georgia: Georgia, 'Times New Roman', Times, serif;
$font_monospace: 'Courier New', Courier, monospace, sans-serif;