@import "$font";

@mixin text () {
    &.smaller {
        font-size: .7em;
    }
    &.bigger {
        font-size: 1.4em;
    }
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.justify {
        text-align: justify;
    }
    &.right {
        text-align: right;
    }
    &.thin {
        font-weight: 100;
    }
    &.light {
        font-weight: 200;
    }
    &.lighter {
        font-weight: 300;
    }
    &.normal {
        font-weight: 400;
    }
    &.bolder {
        font-weight: 500;
    }
    &.bold {
        font-weight: 600;
    }
    &.black {
        font-weight: 900;
    }
    &.roboto {
        font-family: $font_roboto;
    }
    &.segoe {
        font-family: $font_segoe;
    }
    &.georgia {
        font-family: $font_georgia;
    }
    &.monospace {
        font-family: $font_monospace;
    }
    &.v-bottom {
        vertical-align: bottom;
    }
    &.v-center {
        vertical-align: middle;
    }
    &.v-top {
        vertical-align: top;
    }
    &.pointer {
        cursor: pointer;
    }
    &.txt-scroll {
        white-space: nowrap;
        overflow-x: auto;
    }
    &.hyphens {
        hyphens: auto;
    }
    &.ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}