
$color_black: hsl(0, 0%, 0%);
$color_black_1: hsl(210, 17%, 3%);
$color_black_2: hsl(207, 17%, 5%);
$color_black_3: hsl(212, 17%, 10%);
$color_black_4: hsl(210, 17%, 15%);
$color_black_5: hsl(210, 17%, 20%);
$color_black_6: hsl(209, 17%, 25%);
$color_black_7: hsl(210, 17%, 30%);
$color_red_orange: #ef2929;
$color_flame: #ef5229;
$color_moon_yellow: #f5b722;
$color_golden_yellow: #dedc00;
$color_mantis: #8bc34b;
$color_spiro: #25d4f3;
$color_dodger: hsl(207, 89%, 54%);
$color_white: hsl(100, 100%, 100%);
$color_white_1: hsl(210, 17%, 97%);
$color_white_2: hsl(210, 17%, 95%);
$color_white_3: hsl(210, 17%, 90%);
$color_white_4: hsl(210, 17%, 85%);
$color_white_5: hsl(210, 17%, 80%);
$color_white_6: hsl(210, 17%, 75%);
$color_white_7: hsl(210, 17%, 70%);