
$color_gray1: #0d0d0d;
$color_gray2: #212121;
$color_gray3: #4d4d4d;
$color_gray4: #666666;
$color_red_orange: #ef2929;
$color_flame: #ef5229;
$color_moon_yellow: #f5b722;
$color_golden_yellow: #dedc00;
$color_mantis: #8bc34b;
$color_spiro: #25d4f3;
$color_dodger: #2597f3;