
$color_font_dark: #0d0d0d;
$color_font_strong: #212121;
$color_font_midle: #666666;
$color_font_grey: #4d4d4d;
$color_font_emergency: #ef2929;
$color_font_alert: #212121;
$color_font_critical: #ef5229;
$color_font_error: #f5b722;
$color_font_warning: #dedc00;
$color_font_notice: #8bc34b;
$color_font_info: #25d4f3;
$color_font_debug: #2597f3;