@import "$action";

@mixin btn-floating () {
    &.btn-floating {
        border-radius: 100%;
        box-shadow: map-get($card, 6);
        font-size: 2rem;
        font-weight: 300;
        line-height: 2em;
        max-width: 2em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        min-width: 2em;
        &.disabled,
        &.disabled:active,
        &.disabled:hover {
            box-shadow: map-get($card, 6);
        }
        &:hover {
            box-shadow: map-get($card, 8);
        }
        &:active,
        &.target {
            box-shadow: map-get($card, 12);
        }
        @each $key, $value in $action {
            &.btn-#{$key}:before {
                content: $value;
            }
        }
    }
}