@import "$level";
@import "btn-flat";
@import "btn-raised";
@import "btn-floating";

@mixin btn () {
    &.btn {
        @include btn-flat();
        @include btn-raised();
        @include btn-floating();
        @include cardTransition();
        &.btn-lg {
            font-size: 1.3rem;
        }
        min-width: 4em;
        border: none;
        border-radius: .05em;
        color: map-get($color, "blue-500");
        cursor: pointer;
        display: inline-block;
        font-size: 1.05rem;
        font-weight: 500;
        line-height: 1em;
        padding: .6em 1.2em;
        margin: .5em;
        text-align: center;
        letter-spacing: .05em;
        &.disable,
        &.disable:active,
        &.disable:hover {
            cursor: default;
            opacity: .5;
            cursor: default;
            opacity: .5;
        }
        &:hover {
            background-color: map-get($color, "grey-200") ;
        }
        &.disable,
        &.disable:active,
        &.disable:hover,
        &:active,
        &.target {
            background-color: map-get($color, "grey-300") ;
        }
    }
}