@import "../color/$color-material";
@import "../text/$font";
@import "title";

@mixin reset () {

  @include title();

  html {
    color: map-get($color-material, "grey-900");
    font-size: 0.9em;
    font-family: $font_roboto;
  }
  body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  main,
  article,
  section,
  footer {
    width: 100%;
  }
  a {
    cursor: default;
    text-decoration: none !important;
    &:link {
      cursor: pointer;
    }
  } 
  p {
    line-height: 1.6em;
  }
  p,
  hr {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

}