
@import "title";
@import "../color/$color";
@import "../text/font/$font";

@mixin reset () {

  @include title();

  html {
  color: $color_black_1;
  font-size: 0.9em;
  font-family: $font_roboto;
  }

  body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  a {
    cursor: default;
    text-decoration: none;
    &:link {
      cursor: pointer;
    }
  } 
  p {
    line-height: 1.6em;
  }
  p, hr {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

}
