@import "$card";
@import "@card-transition";

@mixin card () {
    $card_selector: null;
    &.card {
        @include cardTransition();
        border-radius: .1em;
        background-color: map-get($color, "grey-0");
    }
    @each $key, $value in $card {
        $selectors: "&.card-#{$key}";
        @if (not $card_selector) {
          $card_selector: $selectors;
        } @else {
          $card_selector: "#{$card_selector}, #{$selectors}";
        }
        &.card-#{$key} {
            box-shadow: $value;
            z-index: $key;
        }
    }
    #{$card_selector} {
        position: relative;
    }
}