@import "./../color/$color.scss";
@import "./$card";

@mixin card() {
    @each $key, $value in $card {
        &.card-#{$key} {
            box-shadow: $value;
            border-radius: 0.1em;
            background-color: map-get($color, "grey-0");
        }
    }
    .cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@include card();
