@mixin cross () {

    cursor: pointer;
    position: relative;
    padding-right: 1.3em;
    right: -.5em;
    top: .5em;
    &:hover:after {
        color: map-get($color-material, "grey-900");
    }
    &:after {
        color: map-get($color-material, "grey-700");
        content: "\d7";
        font-size: 1.6em;
        line-height: .5em;
        position: absolute;
        right: .25em;
        top: .25em;
        transition: color .28s cubic-bezier(0.4, 0, 0.2, 1);
    }

}