
@mixin cross () {
    &:hover:after {
        color: #212121 !important;
    }
    &:after {
        content: "\d7";
        color: #666666 !important;
        cursor: pointer;
        font-size: 1em;
        line-height: .5em;
        position: absolute;
        right: .5em;
        top: .5em;
        transition: color .28s cubic-bezier(0.4, 0, 0.2, 1);
    }
    position: relative;
    padding-right: 1.3em;
}