
@mixin cardTransition () {

    border: none;
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);

}

@mixin card () {

    &.card {
        @include cardTransition();

        border-radius: .1em;
        background:  map-get($color-material, "grey-100");
        
    }

    @each $n, $dp in $n-dp {
        &.card-#{$n} {
            box-shadow: $dp;
            position: relative;
            z-index: $n;
        }
    }

}
