
@import "./../dp/$n-dp";

@mixin cardTransition () {

    border: none;
    border-radius: .1em;
    transition: all .28s cubic-bezier(0.4, 0, 0.2, 1);

}

@mixin card () {

    &.card {
        @include cardTransition();
    }

    @each $n, $dp in $n-dp {
        &.card-#{$n} {
            box-shadow: $dp;
            position: relative;
            z-index: $n;
        }
    }

}
